<!DOCTYPE html>
<html lang="zh-Hans">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0, width=device-width">
		<title>静海娘同人作品站</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&family=Noto+Serif+SC&display=swap" rel="stylesheet">
		<link href="css/main.css" rel="stylesheet" type="text/css">
		
	</head>
	<body>
		<h1 class="hidden">静海娘同人作品站 Seikai Fanart Illustration Gallery</h1>
		
		<div id="backgroundImg"></div> <!-- fixed background image con -->

		<div id="container">

			<header>
				<div>
					<img src="images/nav.svg" id="navIcon" alt="nav icon - click to toggle navagation" title="打开或关闭导航栏 | Toggle navigation">
				</div>
				<nav id="mainNav">
					<h2 class="hidden">导航 Main Navigation</h2>
					<ul id="mainNavList">					
						<li><a href="/">主页 | Home</a></li>
						<li><a href="collection">画廊 | Collection</a></li>
						<li><a href="about">关于 | About</a></li>
					</ul>
				</nav>
			</header>

			<main>
                <div id="btnLeftCon">
                    <img src="images/btn-left.svg" id="btnLeft" alt="slide to left">
                </div>

                <div id="btnRightCon">
                    <img src="images/btn-right.svg" id="btnRight" alt="slide to right">
                </div>

				<section id="collectionCon">
                    <h2 class="hidden">合集列表 Collection list</h2>
                    <div id="sliderCon">
                        <a href="feature/origin"><img src="images/cover-1.png" alt="collection 1 Origin" data-offset="0"></a>
                        <a href="feature/settingoff"><img src="images/cover-2.png" alt="collection 2 Setting off" data-offset="1"></a>
                        <a href="feature/seasons"><img src="images/cover-3.png" alt="collection 3 Seasons" data-offset="2"></a>
                        <a href="feature/stickers"><img src="images/cover-4.png" alt="collection 4 Stickers" data-offset="3"></a>
                        <a href="feature/theocean"><img src="images/cover-5.png" alt="collection 5 The ocean" data-offset="4"></a>
                        <a href="feature/parody"><img src="images/cover-6.png" alt="collection 6 Parody" data-offset="5"></a>
                        <a href="feature/products"><img src="images/cover-7.png" alt="collection 7 Products" data-offset="6"></a>
                    </div>

                </section>



				<section class="footerLightbox">
					<img src="images/nav-close.svg" id="accountCloseBtn" alt="关闭窗口 click to close" title="关闭窗口 click to close">
					<p id="accountType"></p>
					<p id="accountName"></p>
					<img src="" id="accountImg" alt="account QR code">
				</section>

				<footer>
					<h2 class="hidden">底部栏 Main Footer</h2>
					<section id="socialMediaCon">
						<h3 title="Social media list">关注我们：</h3>
						<ul id="socialMediaList">
							<li><img src="images/media-wechat.png" alt="WeChat" class="socialMedia wechat" data-account="0"></li>
							<li><img src="images/media-weibo.png" alt="Weibo" class="socialMedia weibo" data-account="1"></li>
							<li><img src="images/media-bilibili.png" alt="Bilibili" class="socialMedia bilibili" data-account="2"></li>
							<li><img src="images/media-lofter.png" alt="Lofter" class="socialMedia lofter" data-account="3"></li>
						</ul>
					</section>
					<section id="footerNav">
						<h3 class="hidden">底部导航 | Footer navagation</h3>
						<ul>
							<li><a href="/">主页 | Home</a></li>
							<li><a href="collection">画廊 | Collection</a></li>
							<li><a href="about">关于 | About</a></li>
						</ul>
					</section>
					<img src="images/seikai-logo.png" alt="Seikai logo">
					<p id="copyrightCon">&copy; 2022 Seikai Animation Club</p>
				</footer>

			</main>

		</div> <!-- end of container -->


		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TimelineLite.min.js" integrity="sha512-tSIDeirKC6suYILHqqPuZH3s0MvD4a5vCHXhBIcdmq4gQXZ2IB3fEYA5x2f3D2p/CbSqzKEvuTEVbS5VZ2u+ew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/plugins/CSSPlugin.min.js" integrity="sha512-ocsFo48WU8Xq6Y1Lwi7psXRAujG9E4TKNR4q1DbrKzaaxOMTEoao/a+mDoB+cYzY4lwbyxvqjkp/ZA1/MNlfsg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenLite.min.js" integrity="sha512-pvDW4tehKKsohH97164HwKwRGFpzayEFWTVbk8HuUoLIQ7Jp+WLN5XYokVuoCj2aT6dy8ihbW8SRTG1k0W4mSQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="js/main.js" type="module" defer></script>
        <script src="js/collection.js" type="module" defer></script>
	</body>

</html>

