$blue-dark: #2D479E;
$blue-bright: #6EB3FF;
$grey: #EBE9ED;
$main-font: 'Noto Serif SC', 'Times New Roman', serif;
$sub-font: 'Noto Sans SC', 'Arial', sans-serif;
$transition: all .5s cubic-bezier(0.65, 0, 0.35, 1);