@import "vars";

.featureIntroCon {
    margin: 15vh 12vw 10vh 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featureIntroCon h2 {
    display: inline-block;
    font-family: $main-font;
    font-size: 60px;
    color: $blue-dark;
    width: 25vw;
}

.featureIntroCon p {
    display: inline-block;
    margin-left: 30px;
    font-family: $sub-font;
    font-size: 20px;
    line-height: 36px;
    color: #5A9BE3;
}

.galleryCon {
    margin: auto 11vw auto 12vw;
    padding-bottom: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.illustColumn {
    display: block;
    width: 18vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.illustration {
    width: 18vw;
    margin-bottom: 15px;
    transition: all .7s cubic-bezier(0.65, 0, 0.35, 1) !important;
    cursor: pointer;
}

.illustration:hover {
    width: 17vw;
}



// ----------- image lightbox -----------

.imageLightbox {
    display: none;
    position: absolute;
	left: 10vw;
	//set top in JS so that lightbox appear by scroll position, but still scrollable
	width: 80vw;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    
}

.showingImageLightbox {
    display: flex; // the flexbox is to center the lightbox
	flex-direction: column;
	justify-content: flex-end;
}

.imageViewer {
    width: 60vw;
    margin-top: 30px;
}

.imageCloseBtn {
    width: 35px;
    margin-left: 75vw;
    margin-top: 30px;
    transition: all .8s cubic-bezier(0.65, 0, 0.35, 1);
    cursor: pointer;
}

.imageCloseBtn:hover {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg); 
    -ms-transform:rotate(90deg);
    transform: rotateZ(90deg);
}

.imageLightbox p {
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: -50vw;
    font-family: $main-font;
    font-size: 26px;
    color: $blue-dark;
}